.panel-title{
    font-size: 18px;
}

.list-group{
    margin-bottom: 0;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0);
}

.panel-group .panel{
    margin-bottom: 10px;
}

.list-group-item{
    border: 0;
}
a:link{   
 text-decoration:none;   
}   
/*a{
    color: #000;
}*/
.col-md-6 {
    width: 45%;
}

li{
    font-size: 17px;
}

.container{
    width: 100%;
}
.modal-content{
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}

.modal-header-primary {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #428bca;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}

.modal-body p{
    font-size: 15px;
}

